.papper{
    width: 400px;
    height: 200px;
    background: greenyellow;
    border-radius: 20px;
}
.input_text{
        margin-top: 10px;
        width: 100px;
        height: 40px;
        border-radius: 20px;
        border: 1px solid #d1d1d1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2px;
}

.button_input{
    width: 80px;
      height: 36px;
      background: #4ba025;
      border-radius: 20px;
      color: #fff;
      font-size: 0.7em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
}

.block{
    color: black;
}