<div class="container">
  <div class="row">
    <div class="col-12">
      <div>
        <input type="button" class="plus-button" (click)="getCreate()" value="+">
        <div class="input_text">
          <p><input type="text" id="title" class="input_text" [(ngModel)]="boxtitle"></p>
          <p><textarea id='1' class="textarea" [(ngModel)]="text"></textarea></p>
        </div>
        <div *ngFor="let number of box; let i = index">
          <div class="papper">
            <p>{{box[i].id}}.{{box[i].title}}</p>
            <p>{{box[i].textarea}}</p>
            <p>{{box[i].time}}</p>
            <div><button class="deleteButton" (click)="getDelete(i)">Удалить</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>